.contactus{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0px 50px 0px;
    direction: rtl;
}
.contactus_all{
    width: 70%;
}
.contact_header{
    font-size: 1.7rem;
    color: var(--mango);
    font-weight: 500;
    width: 100%;
    border-bottom: 2px solid var(--mango);
    padding-bottom: 20px;
    margin-bottom: 30px;
}
.contact_body{
    display: flex;
    justify-content: center;
    box-shadow: 10px 5px 8px 10px rgba(64, 34, 15, 0.2), 0 6px 20px 0 rgba(184, 191, 140, 0.19);
}
.contact_form{
    width: 70%;
    background-color: #fffef6;
    padding: 40px;
    
}
.contact_form_body{
    padding: 40px 0px;
    width: 100%;
    
}
.contact_forom_header{
    color: var(--mango);
    font-weight: 400;
}
.contact_info{
    width: 30%;
    background-color: var(--coffe);
    padding: 40px;
}
.contact_form_input{
    width: 48%;
    display: grid;
    border-bottom: 1px solid var(--mango);
    margin: 10px 0px 50px;
}
.form_label{
    color: gray;
    font-size: 1rem;
}
.form{
    width: 100%;
    display: flex;
    justify-content: space-between;
  flex-flow: row wrap;
  align-items: center;
}
.form_input{
    margin: 20px 0px 15px 0px;
    border: none;
    background-color: inherit;
    font-size: 1rem;
    outline: none;
    font-weight: 600;
}
.contact_form_textarea{
    width: 100%;
}
.form_textarea{
    width:100%;
    min-height: 100px;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid var(--mango);
    margin: 30px 0px;
    font-weight: 600;
    max-height: 110px;
}
.form_btn{
    margin-top: 15px;
    margin-bottom: 30px;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: var(--mango);
    color: #f9f7eb;
    outline: none;
    border: none;
    cursor: pointer;
    border: 1px solid var(--mango);
}
.form_btn:hover{
    background-color: var(--coffe);
    color: var(--text);
    border: 1px solid var(--coffe);
}
.contact_info_body{
    text-align: right;
}
.contact_info_title{
    color: white;
    font-weight: 500;
    margin-bottom: 40px;
}
.info{
    color: #f9f7eb;
    margin-bottom: 40px;
}
.info_icon{
    color: white;
    font-size: 1.3rem;
    margin-left: 10px;
    margin-right: 10px;
}
.info_content{
    display: flex;
    text-align: center;
    align-items: flex-start;
    align-items: center;
    margin: 30px 0px;
    color: #f9f7eb;
    font-weight: 300;
}
.info_p{
    display: contents;
    margin-right: 10px;
}