.main_header {
  background-color: var(--coffe);
  display: flex;
  justify-content: space-between;
  text-align: center;
  vertical-align: middle;
}
.header_image {
  text-align: center;
  display: block;
  align-content: center;
  width: 35%;
}
.image_header {
  width: 600px;
  height: 420px;
  border-radius: 50% 0px 0px 50%;
}

.products_image {
  width: 300px;
  height: 300px;
  background-color: black;
  transition: all 0.4s;
  background-position: center;
  opacity: 0.6;
  margin: 0px;
  padding: 0px;
  border-radius: 5px;
}
.products_image:hover {
  opacity: 1;
}
.main_products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 65%;
  margin: 50px auto;

  gap: 20px 0px;
}
.header_left {
  width: 50%;
  vertical-align: middle;
  text-align: right;
  padding: 40px 0px 0px 0px;
  align-items: center;
  text-align: -webkit-right;
}
.header_left_title {
  color: var(--text);
  vertical-align: middle;
  font-size: 6rem;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.header_left_body {
  color: var(--text);
  font-size: 1.2rem;
  text-align: center;
  padding-top: 20px;
}
.header_btn {
  text-align: center;
  padding: 20px 0px;
}
.header_left_btn {
  padding: 6px 15px;
  font-size: 1.5rem;
  width: 30%;
  align-items: center;
  background-color: var(--border);
  color: var(--green);
  border: none;
  border-radius: 20px;
}
.main_link_product {
  list-style: none;
  text-decoration: none;
  color: white;
  background-color: var(--text);
  border-radius: 5px;
}
.product_category {
  margin: 0px;
  text-align: center;
  padding-top: 40px;
  font-size: 3rem;
}
.product_info {
  margin: 0px;
  text-align: center;
  padding-top: 40px;
  font-size: 2rem;
}
.main_favorite {
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
  border-bottom: 1px solid var(--coffe);
  text-align: center;
  width: 68%;
}
.favorite_icon {
  color: var(--coffe);
  font-size: x-large;
  padding-left: 10px;
}
.favorite_text {
  font-size: 1.5rem;
}
.center {
  text-align: -webkit-center;
  margin: 100px 0px;
}
.main_favorite_logo {
  margin: 20px 0px;
}
.main_favorite_swiper {
  text-align: -webkit-center;
}
.favorite_image_link {
  margin: 20px;
}
.favorite_logo {
  padding: 0px 10px;
}
/* //////////////////// */
.swiper {
  width: 70%;
  height: auto;
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100px;
  height: 100px;
}
.mySwiper {
  padding: 25px 0px;
}
.main_card_title {
  display: flex;
  justify-content: center;
  direction: rtl;
  vertical-align: middle;
  text-align: center;
  align-items: center;
  border-bottom: 1px solid var(--coffe);
  width: 70%;
}
.main_card_icon {
  color: var(--coffe);
  font-size: 2.5rem;
  padding-left: 10px;
}
.main_cards_title {
  font-size: 1.5rem;
}
.main_card_body {
  margin: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 65%;
  margin: 50px auto;
  gap: 20px 0px;
}
