:root {
  --background: #fbf6ee;
  --mango: #ffb534;
  --green: #65b741;
  --coffe: #b67352;
  --border: #fff2d8;
  --text: #132043;
}
body {
  background-color: var(--background);
  width: 100%;
  margin: 0px;
}
