:root {
  --background: #F8FAE5;
  --mango: #B19470;
  --green: #43766C;
  --coffe: #B99470;
  --border: #fff2d8;
  --text: #000000;
}
body {
  background-color: var(--background);
  width: 100%;
  margin: 0px;
}
