.Card_container {
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
  height: auto;
}
.Card_link {
  list-style: none;
  text-decoration: none;
}
.Card_container:hover{
    box-shadow: none;
}
